/*------------- STYLE RESET BASICS ----------------*/
ul{list-style-type: none;padding:0;margin:0;}
a, ul, li, form {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a, a:hover{
  color:#5e5d5d;
text-decoration: none;
}
a[role="button"]{cursor: pointer;}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input{outline:none;}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*------------- CONTENT PAGE ----------------*/
body,html{width:100%;height:100%; max-height:100%;overflow:hidden;}
body{display:flex;flex-direction: column;}
i{margin:0 0.5em;}
#content{flex:1; width:100%;display:flex;overflow-y:auto;}
#content-page{flex:1; padding: 2em;overflow-y:auto;}
.content-page-inline{display:flex;flex-direction:row;}
.option-content-page{padding: 0 !important;}


/* ------------- FONTS AND COLORS -----------*/
.small-text{font-size:13px;color:#818181;}

.c-red{color:#CE7A77;}
.bc-red{background-color:#CE7A77;}
.c-black{color:#5E5E5E;}
.bc-black{background-color:#5E5E5E;}
.c-yellow{color:#F2EBA9;}
.bc-yellow{background-color:#F2EBA9;}
.c-green{color:#B8C39F;}
.bc-green{background-color:#B8C39F;}
.c-green-heavy{color:#787B73;}
.bc-green-heavy{background-color:#787B73;}
.c-purple{color:#444366;}
.bc-purple{background-color:#444366;}
.c-yellow-heavy{color:#b3b31d;}
.bc-yellow-heavy{background-color:#b3b31d;}

.w100{width:100%;}
.h100{height:100%;}
.center{text-align:center;}

.m-2{margin:2em !important;}
.m-1{margin:1em!important ;}
.m-05{margin:0.5em!important;}
.mv-2{margin:2em 0 !important;}
.mv-1{margin:1em 0 !important;}
.mv-05{margin:0.5em 0 !important;}
.mh-2{margin: 0 2em !important;}
.mh-1{margin: 0 1em !important;}
.mh-05{margin: 0 0.5em !important;}
.mt-2{margin-top:2em !important;}
.mt-1{margin-top:1em !important;}
.mt-05{margin-top:0.5em !important;}
.ml-2{margin-left:2em !important;}
.ml-1{margin-left:1em !important;}
.ml-05{margin-left:0.5em !important;}
.mr-2{margin-right:2em !important;}
.mr-1{margin-right:1em !important;}
.mr-05{margin-right:0.5em !important;}
.mb-2{margin-bottom:2em !important;}
.mb-1{margin-bottom:1em !important;}
.mb-05{margin-bottom:0.5em !important;}

.p-2{padding:2em !important;}
.p-1{padding:1em !important;}
.p-05{padding:0.5em !important;}
.pv-2{padding:2em 0 !important;}
.pv-1{padding:1em 0 !important;}
.pv-05{padding:0.5em 0 !important;}
.ph-2{padding: 0 2em !important;}
.ph-1{padding: 0 1em !important;}
.ph-05{padding: 0 0.5em !important;}
.pt-2{padding-top:2em !important;}
.pt-1{padding-top:1em !important;}
.pt-05{padding-top:0.5em !important;}
.pl-2{padding-left:2em !important;}
.pl-1{padding-left:1em !important;}
.pl-05{padding-left:0.5em !important;}
.pr-2{padding-right:2em !important;}
.pr-1{padding-right:1em !important;}
.pr-05{padding-right:0.5em !important;}
.pb-2{padding-bottom:2em !important;}
.pb-1{padding-bottom:1em !important;}
.pb-05{padding-bottom:0.5em !important;}

.italic{font-style: italic;}

label{font-weight:bold; color:#929292}

/* ----------------- TITLES -----------------*/
h2{color: #CE7A77; padding: 0.5em; font-size:25px;font-weight:bold;}
h4{color: #8fa2bf; padding: 0.5em;}
.prohect-map-title{font-size: 20px; color:#828282;}
.prohect-map-title a{color:#828282;}
.prohect-map-title a:hover{color:#828282;text-decoration: underline;}



/*
    COLOR SHEME
    #CE7A77 -- top red
    #5E5E5E -- side left
    #F2EBA9 -- Yellow
    #b3b31d -- Heavy Yellow
    #B8C39F -- Light green
    #787B73 -- Heavy Green
    #444366 -- Purple
    #F4F7F8 -- White
    #EBEBEB -- light grey
    #f5f5f5 -- heavy light grey
    #929292 -- heavy grey
    #5e5d5d -- Title grey
    #8fa2bf -- Blue grey
*/

/* ######################### NAVBAR #################################### */
#colab-top-nav{background-color:#CE7A77!important;}
.top-nav-right{justify-content:flex-end;}
.nav-link{color:#F4F7F8!important;font-size: 18px;}
.nav-link:hover{color:#EBEBEB!important;}
nav{padding:0.2em !important; }

.sidenav{display: flex; flex-direction:column; height:100%; background-color:#5E5E5E;}
.nav-link-left{color:#F4F7F8!important;font-size: 20px; padding: 0.4em 0.4em;}
.nav-link-left:hover{background-color:#929292 !important;}
.navbar-nav{display:flex; align-items: center;}
.nav-link{display:flex; padding:0;  align-items: center;}

/* ######################### DASHBOARD #################################### */
.dashboard-bloc{margin-bottom:1.5em;}
.dashboard-title{background-color:#EBEBEB;padding:0.3em;font-weight: lighter;text-align:center;}
.dashboard-project-line{display:flex;padding:0.5em 1em;border-bottom:solid 1px #CCCCCC;}
.dashboard-project-square{width:50px;height:50px;border-radius: 10px;}
.dashboard-project-group{flex:1;display:flex;flex-direction:column;padding: 0 1em;}
.dashboard-tache-name{font-weight: bold; font-size:17px;color:#5e5d5d;}
.dashboard-project-name{color:#929292;font-size:15px;;margin-bottom: 0;}
.dashboard-empty{display: flex; align-items:center; justify-content: center;height:100%;}
.dashboard-empty-img{margin: 0 1em;}
.btn-line-right{width:100%; text-align: right;}

/* ######################### MES PROJETS #################################### */

.myprojects-title{background-color:#EBEBEB;padding:0.3em 1em;font-weight: lighter;}
.dashboard-project-bio{color:#929292;font-size:15px;margin-bottom: 0;max-width:100%}

/* ######################### USER PROFIL #################################### */

.left-bar-option{Width:200px;height:100%;border-right:solid 1px #EBEBEB;background-color:#f5f5f5;}
.option-menu-list-item{text-align:center;border-bottom: solid 1px #EBEBEB;}
.option-menu-list-item-link{width:100%;height:100%;height:100%;text-align: center;padding:1em;display:inline-block;}
.option-menu-list-item-link:hover{background-color:#EBEBEB;}

.left-bar-option-second-level{background-color:#818181;}
.option-menu-list-item-second-level{border-bottom-color: #EEE;}
.option-menu-list-item-link-second-level{border-bottom-color: #5E5E5E;outline: none !important;color:#fff;}
.option-menu-list-item-link-second-level.active{background-color:#EBEBEB;color:#5E5E5E;border-bottom-color: #EBEBEB;}

.option-page-body{flex:1;padding:1em 2em 2em 2em;}
.column-info{display:flex; flex-direction: column;align-items:center; min-width:230px;}
.column-info-sub{display:flex; flex-direction: column;align-items:center;}
.info-txt{font-size:20px;padding:0.5em;border-bottom:solid 1px #EBEBEB;}

.profile-img-lg{width:200px;height: 200px;margin: 0.5em;}
.profile-img{width:120px;height: 120px;margin: 0.5em;display:flex;text-align:center;align-items: center;background-position: center;background-repeat: no-repeat;background-size: cover;}
.profile-img-sm{width:75px;height: 75px;margin: 0.5em;background-position: center;background-repeat: no-repeat;background-size: cover;}
.profile-img-xs{width:40px;height: 40px;margin: 0em 0.3em;background-position: center;background-repeat: no-repeat;background-size: cover;display:flex;align-items: center;justify-content: center;}

.notif-project-name{color:#929292;display:flex;align-items: center; justify-content: center;font-size:20px;font-weight: bold;}


/* ######################## PROJECTS ########################################### */

/* ----------------- SCRUM ------------------*/
.sprint{padding:1em 2em;}
.sprint-name{display:flex; cursor: pointer; padding: 0.5em; display:flex;justify-content: space-between; align-items:center;}
.inputFull{border: none; height:100%;}
.inputFull:focus{border: none;box-shadow: none; outline: none;}
.sprint-table-row{display:flex; padding: 0.3em;}
.sprint-table-header{border-bottom: solid 2px #5e5d5d;padding: 0.3em;}
.sprint-table-line{border-bottom: solid 1px #EBEBEB;}
.sprint-table-lither{width:7px !important;}
.sprint-table-task{flex:1;}
.sprint-table-col-std{min-width: 170px; display:flex; align-items: center; justify-content: center;}
.datePickerInput{position:relative;}
.date-picker-icon{position: absolute; right:0; top: 5px;}
.pointer{cursor: pointer;}
.statusSelector{color:#fff; font-weight:bold;}

.sprint-name[data-toggle="collapse"][aria-expanded="true"] > .collapse-arrrow{transform: rotate(0deg); transition-duration:500ms;}
.sprint-name[data-toggle="collapse"][aria-expanded="false"] > .collapse-arrrow{transform: rotate(-90deg); transition-duration:500ms;}

/*  -- Components -- */
.numeric-cell-compnent{width:100%;height:100%; padding:2px 5px;}
.editable-component{width:100%; height:100%; display:flex; align-items: center; justify-content: center;}
.editable-component:hover{border: dotted 1px #929292;}
.number-component{border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;max-width:150px; height:100%;width:100%; text-align:center;outline: none;}
.number-component:focus{border: dotted 1px #DA4F49;}
.numeric-value{margin-right:5px;}

.scrum-option-line{text-align:right;padding: 0 1.5em;}
.scrum-option-dropdown{min-width: 230px; left: -50px !important; box-shadow: -5px 6px 15px -1px #666666;}
.scrum-option-column{padding:0.5em; display:flex;justify-content: space-between;align-items: center; font-size: 14px; color:#787B73;cursor:pointer;}
.scrum-option-column.active{color:#5d8bd1;}
.scrum-option-column i{visibility:hidden;}
.scrum-option-column.active i{visibility:visible;}
.divider{border-bottom: solid 1px #EBEBEB;}

/* ---------------- KABAN ---------------------*/
.drag-container {position: fixed;left: 0;top: 0;z-index: 1000;}
.board {position: relative; width:100%;}
.board-column {position: absolute;left: 0;top: 0;padding: 0 10px;z-index: 1; width: 350px;}
.board-column.muuri-item-releasing {z-index: 2;}
.board-column.muuri-item-dragging {z-index: 3;cursor: move;}
.board-column-container {position: relative;width: 100%;height: 100%;}
.board-column-header {position: relative;overflow: hidden;padding: 0.5em;display:flex; align-items: center; justify-content: space-between;
    background: #333;color: #fff;text-transform: uppercase;}
.board-column-header a {color : #fff;}
.board-column-content-wrapper {position: relative;padding: 8px;background: #f0f0f0;overflow-y: auto;border-radius: 0 0 5px 5px;}
.board-column-content {position: relative;min-height: 100%; padding: 20px;}
.board-item {position: absolute;margin: 8px;width: 300px;max-width: 300px;cursor: pointer;}
.board-item.muuri-item-releasing {z-index: 9998;}
.board-item.muuri-item-dragging {z-index: 9999;cursor: move;}
.board-item.muuri-item-hidden {z-index: 0;}
.kaban-task{background-color:#fff;display: flex; flex-direction: column; padding: 0.5em; margin: 0.5em 0;}
.kaban-task-bottom{display:flex;justify-content: space-between;align-items: center;}

/* ---------------- LOGS ------------------------------ */

.logs-infos{padding-left:1em;padding-top:0;flex:1;}
.logs-user-bloc-line{align-items: center;}
.log-links, .log-links:hover{color:#5d8bd1;}
.log-value{color:#929292; font-weight:bold;}

/* ---------------- CHATROOM ------------------------------ */

.chat-express-bloc{padding:1.5em 1.5em 1em 1.5em;}
.chat-header-card{display:flex; flex-direction:row; align-items: center; justify-content: space-between;}
.user-chating{flex:1;display:flex;align-items: center;}
.chat-card{margin-bottom:1em;}
.chat-card-timer{font-size:12px;color:#929292;}
.chat-card .card-body{padding-top: 0.2em;}
.card-body{display:flex; flex-direction: column;}
.card-body-media{padding:0;}
.chat-reponses{padding-left: 1em;}
.chat-media-btn-line{display:flex; justify-content: flex-end;}
.chat-media-btn-line > *{font-size:13px;}
.card-body-media-answer-line{margin-top:0.5em;display:flex;}
.card-body-media-answer-line-text{flex:1;margin-left:0.5em;}
.chat-answer-user-name{margin:0 !important;}
.likes-message{color:#5d8bd1 !important;font-size:12px;}

/* ---------------- TEAMS ------------------------------ */

.btn-option-team{color:#929292;text-decoration: none;}
.btn-option-team:hover{color:#929292;}
.team-user-bloc{flex:1; margin-left: 1em;}
.team-user-bloc-line{display:flex; border-bottom: solid 1px #EBEBEB;}
.team-user-infos{display:flex;flex-direction:column;padding-top:0.5em;}
.team-user-delete{padding: 0;color:#CE7A77;}
.team-user-delete:hover{color:#CE7A77; text-decoration: none;}
.team-user-name{margin-left:0.5em; font-weight:bold; color:#929292;}
.team-user-roles{font-size:12px;margin-left:0.7em; color:#929292;}

/* --------------- PARAM ---------------------- */
.param-product-owner{cursor: pointer;}
.admin-project{margin-bottom:1em;cursor: pointer;}

/* ---- general ----- */


/* ---- Modules ----- */
.module-bloc-line{padding: 1.5em ; display:flex; border-bottom:solid 1px #EBEBEB;}
.module-logo{font-size:25px;align-items: center; justify-content: center; margin: 0 1em;}
.module-logo > i{color:#818181; }
.module-description{flex:1; display: flex; align-items: center; justify-content: center;}
.module-activate{align-items: center; justify-content: center;}

/* ---- Habilitations ------- */
.habilitation-bloc{margin-bottom:1em;}
.habilitation-bloc-header{display:flex; cursor: pointer; padding: 0.5em; background-color: #f5f5f5; display:flex;justify-content: space-between; align-items:center;}
.habilitation-bloc-header[data-toggle="collapse"][aria-expanded="true"] > .collapse-arrrow{transform: rotate(90deg); transition-duration:500ms;}
.habilitation-bloc-header[data-toggle="collapse"][aria-expanded="false"] > .collapse-arrrow{transform: rotate(0deg); transition-duration:500ms;}
.habilitation-body-line{padding: 0.5em;}
.habilitation-body-line{display:flex;justify-content:space-between; align-items:center; border-bottom: solid 1px #EBEBEB; width: 100%;}

/* ---- Fields ------------------*/
.fields-bloc-title{font-size:17px; font-weight:bold;}

/* ---- WIKI --------------------- */
.wiki-menu-list{margin-bottom:1em;}
.wiki-left-bar-option{min-width:270px; border-right:solid 1px #EBEBEB;padding: 1em 0 0 1em;}
.bookmark-project-title{padding: 0.5em 1em;border-bottom:solid 1px #EBEBEB; color:#CE7A77;}
.wiki-menu-list-item-link{padding: 0.5em; text-align:left;border-bottom:solid 1px #EBEBEB;}
#customable-ccontent-page{padding: 1em 2em;background-color:#f5f5f5;}


/* #############################################################################
					                Color Picker
################################################################################*/
.color-picker {border-radius: 5px;width: 36px;height: 36px;cursor: pointer;transition: all linear .2s; border: thin solid #eee;
  -webkit-transition: all linear .2s;-moz-transition: all linear .2s;-ms-transition: all linear .2s;-o-transition: all linear .2s;}
.color-picker:hover {	transform: scale(1.1);}
.color-project-preview{width:100px;height:100px; margin-top: 1em;}


/* ######################## CARTES DES PROJETS ############################### */

.card.card-projet {
    width:100%;
    height: 150px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    position: relative;
    margin: 1.5rem;
}

.card-projet .project-cards-title {
  font-size:20px;
  font-weight: bold;
}

.card-projet .additional {
  position: absolute;
  width: 50px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card-projet.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6) !important;
}

.card-projet:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card-projet .additional .more-info {
  width: 4000px;
  float: left;
  position: absolute;
  left: 75px;
  height: 100%;
}

.card-projet .additional .more-info .project-cards-title {
  color: #fff;
  margin-bottom: 0;
}

.card-projet .additional .stats {
  font-size: 1rem;
  display: flex;
  justify-content: start;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  top: auto;
  color: #fff;
}

.card-projet .additional .stats > div {
  margin-right:  1em;
  text-align: center;
}

.card-projet .additional .stats i {
  display: block;
}

.card-projet .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card-projet .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card-projet .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card-projet .general {
  width: calc(100% - 50px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

/* ###################### INPUTS ##############################*/
/* on off button */
.btn-default.btn-on, .btn-default.btn-off{border:solid 1px #818181; font-weight:bold;}
.btn-default.btn-on.active{background-color: #5BB75B;color: white;}
.btn-default.btn-off.active{background-color: #DA4F49;color: white;}
.radio-selector{display: none;}