/* Renvoi du scroller sur la sous page */
#content-page{overflow-y:hidden;}
.option-page-body{overflow-y:scroll;}

/* Boutons radio de norification*/
.notif-project-line{margin: 1em 0;}
.inline-radio {display: flex; border-radius: 3px;overflow: hidden; border: 1px solid #8fa2bf; max-width: 500px;}
.inline-radio-option {position: relative;flex: 1;}
.inline-radio-option .funkyRadio {width: 100%;opacity: 0;cursor:pointer;}
.inline-radio-option label {position: absolute;top: 0; left: 0;color: #8fa2bf;width: 100%;height: 100%;background: #fff;display: flex;align-items: center;justify-content: center;
    pointer-events: none;border-right: 1px solid #8fa2bf;}
.inline-radio-option:last-child label {border-right: 0;}
.funkyRadio{padding: 1em;}
.funkyRadio:checked + label {background: #8fa2bf;font-weight: 20px;color: #fff;}

/* ############################# FILES INPUT ########################################*/

